#espacamento .letter{
    letter-spacing:20px;
}
#espacamento .word{
    word-spacing:50px;

}
#espacamento . lines{
    line-heinght:1.3;
}
.align{
    
    border:1px solid blue;
    font-size:26px;
    line-height:2;
    
}
.align . vsup{
    display:inline;
    vertical-align:top;
    font-size:16px;

}
.align .vcenter{
    display:inline;
    vertical-align:middle;
    font-size:16px;
}
.align .vbottom{
    display:inline;
    vertical-align:bottom;
    font-size:16px;
}
.alinha-esquerda{
text-align:left;
}
.alinha-centro{
    text-align:center;
    }
.alinha-direita{
    text-align:right;
    }
.alinha-justificado{
    text-align:justify;
    }

.sublinhado{
    text-align:left;
    text-decoration:underline;
    }
.taxado{
        text-align:center;
        text-decoration:line-through;
    }
    
.blink{
        text-align:right;
        text-decoration:blink;
    }
    
.linha-sup{
        text-align:overline;
        
    }

    #menu {
        list-style:none;
    }

    #menu li  {
        display:inline-block;
        margin:20px;
    }
    
    #menu li a{
        text-decoration:none;
    }
